@charset "UTF-8";


  

body {
    background-color: rgb(182, 184, 187);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 10px 1opx 10px black;
    border-radius: 7px;
    margin: 5px;
}

nav > a {
    text-decoration: none;
    margin: 40px;
    color: black;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;
    color: brown;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}


div > a {
    display: block;
    margin: 20px;
}

#el > a {
    text-decoration: none;
}

#futebol {
    background-color: rgb(225, 228, 231);
    padding: 3px;
    margin-left: 5px;
    margin-right: 10px;
}

main {
    background-color: white;
    padding: 10px;
    margin: 5px;
}

footer {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 8px;
    margin: 8px 0px;
}


#pro {
    text-align: center;
    font-family: "Satisfy", cursive;
}

#el > a {
    text-decoration: none;
}

#el {
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 3px 7px 1px black;
}

section > aside {
        background-color: rgb(126, 126, 126);
        width: 100px;
        height: 25px;
        padding: 7px;
        margin: 5px;
        border-radius: 5px 0px;
    
}

section#futebol > a {
    text-decoration: none;
}

#diva > #aj {
    text-decoration: none;
    text-align: right;
}

#diva > p {
    display: none;
    text-align: justify;
    margin: auto;
}

 #diva:hover > p {
    display: block;
    background-color: rgb(107, 107, 162);
    color: black;
    height: 400px;
    width: 500px;
    padding: 7px;
    margin: 7px;
    border-radius: 5px;
    margin: auto;
    
}

#diva {
        position: absolute;
        top: 100px;
        left: 65%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 30px;
        border: 3px solid #73AD21;
       
}



