@charset "utf-8";

/* Configurações para telas maiores */

@media only screen and (min-width: 768px) {


    #itens {
        display: block;
    }

   
    #itens a {
        display: inline-block;
        border-top: 3px solid rgb(99, 98, 98); 
        
    }

    #itens > a:hover {
        background-color: rgba(152, 150, 150, 0.936);
    }

    #icone {
        display: none;
    }

    main {
        width: 768px;
        margin: auto;
        margin-top: 10px;
    }
}