@charset "utf-8";

/* Configurações para telas maiores */

@media only screen and (min-width: 768px) {
    menu {
        background-color: rgb(141, 140, 140);
        padding-bottom: 0px;
    }

    menu > a {
        display: inline-block; 
    }

    menu > hr {
        display: none;
    }

    menu:hover a {
        display: inline-block;
        border-top: 3px solid rgb(99, 98, 98); 
        
    }
}